.panel__content .example-item__desc {
    margin-left: 18PX;
    &__top{
      margin-top: 20PX;
    }
  }
  
  .tab-content {
    padding: 50px 50px;
    font-size: 30px;
    text-align: center;
    background-color: #FAFBFC;
  }
  
  